body {
    background-color: #E8E6E6;
    font-family: "Times New Roman", Georgia, Serif;
    font-size: 18px;
}

#wrapper {
    margin: 0 auto;
    max-width: 1020px;
    width: 98%;
    background: white;
    border: 1px solid black;
}

#callout {
    width: 100%;
    height: 40px;
    background: #54b454;
}

    #callout p {
        text-align: right;
        color: #FFFFFF;
        padding: 1%;
        font-size: 13px;
    }

#firstpic {
    width: 96%;
    text-align: center;
}

#nav ul {
    list-style: none;
    margin: 0;
    padding-left: 10px;
}

    #nav ul li {
        float: left;
        border: 1px solid #54b454;
        width: 14%;
        border-radius: 30px;
    }

        #nav ul li a {
            background-color: #54b454;
            display: block;
            padding: 5% 12%;
            color: #FFFFFF;
            font-weight: bold;
            font-size: 18px;
            text-decoration: none;
            text-align: center;
            border-radius: 30px;
        }

            #nav ul li a:hover, nav ul li.housepage a {
                background-color: white;
                color: #B22222;
            }

#secondpic {
    /*width: 50%;*/
}

#thequote {
    text-align: center;
}


#leftside {
    width: 522px;
    height: 320px;
    float: left;
    padding: 4%;
}

#futer {
    clear: both; /*clearing the float */
    background: #1e721e;
    height: 110px;
}

#lastlogo {
    float: left;
}

#lastnam p {
    color: white;
    text-align: center;
    padding: 2%;
}

#pagebody {
    clear: both;
    height: 800px;
}

#contactimage {
    text-align: center;
}
#contactinfo{
		text-align: center;
}
